<h1>About</h1>
<p>We are a unique platform for connecting people with the intent of practicing a second or third language. Chats are instantly transmitted across a secure channel to the other user. Follow us on <%= link_to "twitter", "https://www.twitter.com/smart_xchange" %> to get notified of the latest updates!</p>
