<h1>Contact</h1>
<p>If you'd like to get in touch with the SmartXchange team for feedback, concerns, career opportunities, or any other reason please sign up via the <%= link_to "Launch Rocket Page", 'http://smartxchange.launchrock.com/' %> and we will contact you as soon as possible</p> 
