<h1>Contact</h1>
<p>
  If you'd like to get in touch with the smartXchange team for feedback, concerns, career opportunities, or any other reason please email support@smartxchange.es with the title "smartXchange inquiry" and we will try to respond within 48 hours.
  If you wish to be listed as a tutor email support@smartxchange.es with the title 'Tutor Request' and our team will start the verification process.
</p>
