
<!DOCTYPE html>

<!-- used to have background image -->
<body class="new">

<!-- Header -->
<div class="col-lg-12 text-center">
    <h2 class="new section-heading">Welcome To Our Platform!</h2>
    <h3 class="new section-subheading">Find Your Ideal Language Practice Partner</h3>
    <a href="/about" class="page-scroll btn btn-xl">Tell Me More</a>

    <!-- need to refactor this -->
    <br>
    <br>
    <br>

    <!-- Form -->
    <form action="/session" method="post" class="new">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label>Email<br>
        <input name="user[email]" type="text"><br>
      </label><br>
      <label>Password<br>
        <input name="user[password]" type="password"><br>
      </label><br>
      <input type="submit" value="Sign In" class="btn btn-primary"><br>
    </form>
    <!-- hack job need to refactor with padding / margin -->
    <br>
</div>

</body>
