<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Dear <%= @user.name %>,</h4>
    <p>
      Thank you for being part of the smartXchange journey. Today marks
      our 1 month anniversary from our launch day on June 29. Coincidentally,
      we also have 29 users (as of this morning), all of whom have signed up since our launch day.
      Since June 29, we have implemented several new features:<br><br>
        First, we have improved the chat, which now should work error free and instantaneously
        over our platform. Notifications of incoming messages should be received even if you have
        navigated away from the chat room. Also, instead of displaying your profile image, the image
        displayed in the chat room is now the language you wish to practice faded
        according to your language level (the better you are at the language, the
        brighter the flag).<br><br>

        Second, we have made it possible to see  which users are active on the
        platform. A green dot will be displayed next to the user's name if that user
        has the web page open in his/her desktop, phone, or tablet browser.<br><br>

        Third, we have introduced a chat bot named Chav Bot that plays trivia about the United
        Kingdom and speaks perfect English :). Feel free to challenge the bot at any
        time (by typing the word trivia) while practicing your English and learning about the United Kingdom.<br><br>

        Fourth, and what I am really excited about, is the feature of translate-on-demand.
        In each chat room, there is the ability to translate whatever you have in the
        text box (from and to languages in our current language suite) without having
        to navigate away from the chat room page.<br><br>

        Fifth, we have made signup easier, enabling users to fill out all required
        information during the registration process.<br><br>

        Sixth we have introduced more information on the about page, including a short
        video introducing our logo.<br><br>

        Seventh, we have introduced Italian to our language suite, which now includes
        Spanish, Italian, German, French, and English.<br><br>

        Eighth, we have added chat room details to the header in the chat room page. These
        are things like the name of the chat room recipient, his/her language level, and
        the language that is supposed to be practiced in the chat room (based on the
        chat room initiator's language to pracitce)<br><br>

        Lastly, we have introduced the ability to filter users by whether or
        not they are active, whether they are a chat bot, and by which language they
        are practicing.
    </p>
    <p>
      Don't forget to follow the latest posts on our <a href="https://twitter.com/smart_xchange">twitter</a> page.
      <br>To log in to our site, just follow this <a href="<%= @url %>">link</a>  .
    </p>
    <p>Thank you all for your support and keep using the site in your free time at work
    or at home! <br><br> Sebastian Peterlin <br> Co-founder of smartXchange </p>

  </body>
</html>
