<!DOCTYPE html>
<html>
  <%= render 'layouts/header_mail' %>
  <body>
    <h4>Welcome to smartXchange Premium, <%= @user.name %>!</h4>
    <p>
      Enjoy <%= Package.second.description_uncapitalize %>
    </p>
    <p>
      Please await an email detailing more information about your premium membership.
    </p>
  </body>
  <%= render 'layouts/footer_mail_simple' %>
</html>
