<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Dear <%= @user.name %>,</h4>
    <p>
      To change your password please use this temporary password: <%= @password %>.<br>
    </p>
    <p>
      Please <a href="<%= @url %>">log in</a> and
    change your password at this <a href="<%= @url_reset %>">link</a>.
    </p>
    <p>Thanks for being a valued smartXchange member and enjoy the day!</p>
    <br><br> Sebastian Peterlin <br> Co-founder of smartXchange
  </body>
</html>
