# app/views/user_mailer/reset_password_email.text.erb
Hello <%= @user.name %>,
===============================================

You have requested to reset your password.

To choose a new password, <a href="<%= @url %>">log in</a> and follow this <a href="<%= @url_reset %>">link</a> .

Have a great day!
