<!DOCTYPE html>
<html>
  <%= render 'layouts/header_mail' %>
  <body>
    <h4>Dear <%= @user.name %>,</h4>
    <p>
      It has come to our attention that some new users were soliciting services over the smartXchange platform.
      These users have now been deleted, and I thank the user who reported these messages.
      If you come across suspicious activity in the future please send an email to support@smartxchange.es and our team will investigate the matter.
    </p>
  </body>
  <%= render 'layouts/footer_mail_simple' %>
</html>
