<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Welcome to smartXchange, <%= @user.name %>!</h4>
    <p>
      You have successfully signed up to smartXchange,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this <a href="<%= @url %>">link</a>.
    </p>
    <p>
      Make sure to check out the new <a href="<%= @url_tutorial %>">smartxchange website video tutorial</a>, and
      don't forget to follow the latest posts on our <a href="https://twitter.com/smart_xchange">twitter</a> page.
    </p>
    <p>
      Sebastian Peterlin <br> Co-founder of smartXchange
    </p>
  </body>
</html>
