$('#comment-<%= @comment.id %> .comment-form.edit').remove();
$('#comment-<%= @comment.id %> time').before("<div class='comment-text'><%= j(auto_link(@comment.content, html: { target: '_blank' })) %></div>");
$('#comment-<%= @comment.id %> .edit-comment').data('clicked', false);
