
  <div class="col-lg-12 text-center">
    <br><br>
    <form class="" action="<%= create_password_users_path %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label for="user-email">Email</label>
      <input id="user-email" type="text" name="user[email]" value="">
      <input type="submit" value="Recover Password" class="btn btn-primary">
    </form>
    <small>*Note if you have linked your Linkedin account you can sign by clicking "Sign in with Linkedin"</small>
    <br><br>
  </div>
