<h4>Subscribe to smartXchange </h4>
<p>By subscribing, you will receive the smartXchange monthly update email </p>
<form action="<%= update_subscription_user_settings_path(@user) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="user[subscription]" value="true">
  <input type="submit" value="Subscribe" class="btn btn-primary settings">
</form>
<br>
<%= link_to 'Cancel', root_path, class: 'btn btn-primary delete' %>
