  <li>
    <a href="<%=chat_url(chat)%>">
      <div class="row">
          <div class="user-image">
            <%= image_tag(user.image.small_thumb.url, alt: user.name) %>
          </div>
          <!-- need to refactor this as well -->
          <div class="user-content">
            <%="#{user.name}" %>
          <% if count_unread > 0 %>
            <%="(#{count_unread})"%>
          <% end %>
          </div>

      </div>

    <!-- need to refactor this -->

    </a>
  </li>
