  <li>
    <a href="<%=chat_url(chat)%>">
      <%= image_tag(user.image.small_thumb.url, alt: user.name) %>
      <!-- need to refactor this as well -->
      <br>
      <%= "#{user.name}" %>
    <% if count_unread > 0 %>
      <%="(#{count_unread})"%>
    <% end %>
    <!-- need to refactor this -->
    <br>
    <br>
    </a>
  </li>
