$('#post-<%= @post.id %> .post-form.edit').remove();
$('#post-<%= @post.id %> .post-votes').after("<div class='post-text'><%= j(auto_link(@post.content, html: { target: '_blank' })) %></div>");
$('#post-<%= @post.id %> .edit-post').data('clicked', false);
