<%= javascript_include_tag 'transactions.js' %>
<h3>Details</h3>
<p>
  Access to conversations with high-level persons of interest (Professors, Managers, CEOs, etc), tailored language aids (chat bots, tutoring, voice-to-text), and tests for language proficiency of employees and prospective employees
</p>
<%= render 'layouts/transaction_form' %>
