<footer class="footer">
  <a href="http://www.beyondsecurity.com/vulnerability-scanner-verification/www.smartxchange.es"><img src="https://seal.beyondsecurity.com/verification-images/www.smartxchange.es/vulnerability-scanner-2.gif" alt="Website Security Test" border="0" /></a>
  <small>
    Created by smartXchange Group
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
