<body>
  <p>
    If you haven't already, link your Linkedin account to gain credibility.
    Make sure to keep up to date with smartXchange's newest features,
    including the latest <a href="<%= @url_mobile_tutorial %>">smartXchange mobile tutorial</a>
    and our new premium subscription offering: <br><br>
    <%= link_to "smartXchange Premium", @url_premium, class: 'mail-btn premium' %> <br>
  </p>
  <p>
    If you wish to be listed as a tutor email support@smartxchange.es with the title 'Tutor Request' and our team will start the verification process.
    Don't forget to follow the latest posts on our <a href="https://twitter.com/smart_xchange">twitter</a> page.
  </p>
  <p>
    Sebastian Peterlin <br> Co-founder of smartXchange
  </p>
  <%= link_to "Manage subscriptions", email_subscription_user_settings_url(@user, id: @unsubscribe_hash), style: 'font-size: 10px;' %>
</body>
