<body>
  <p>
    If you haven't already, link your Linkedin account to gain credibility and to have our matching algorithm find others close by.
    Check out the <a href="<%= @url_tutorial %>">smartXchange website tutorial</a> and the other tutorials listed on the About page,
    including the new <a href="<%= @url_mobile_tutorial %>">smartXchange mobile tutorial</a>.
    Don't forget to follow the latest posts on our <a href="https://twitter.com/smart_xchange">twitter</a> page.
  </p>
  <p>
    Sebastian Peterlin <br> Co-founder of smartXchange
  </p>
</body>
