<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
  <h3 class="mbs">Buy the Premium Package</h3>
  <%= form_tag transactions_path do %>
    <p>Begin your 7 day free trial today! Please enter your payment details and check your inbox for an email from us.</p>
    <div id="dropin"></div>
    <br>
    <%=submit_tag "Subscribe", class: "btn btn-xl premium" %>
  <% end %>
</div>
